#menu-links a {
	color: #5A5A5A;
}

#menu-links a i {
	padding-right: .6em;
}

.nav-pills .nav-link.active {
	background: #DBEEFD;
	box-shadow: .1em .2em .6em #4E91C6;
}

.nav-pills .nav-link {
	color: #5A5A5A;
}

#menu-links .nav-link {
	padding: .8em 1em;
}

.step {
	background: white;
	margin-top: 1.5em;
	padding: .8em 1.5em;
	border-radius: .25rem;
	box-shadow: .1em .2em .6em #DDD;
}

