#nav-background {
	background: #2196F3;
}

#new-logo {
	font-family: 'Varela Round';
}

.introduction {
	margin-top: 1em;
	padding-top: 9em;
	height: 35em;
	background-color: #DBEEFD;
	/*background: url(../img/bg.jpg); */
	background: url(../img/reflex.jpg);
	background-position: center;
}

.introduction h3 {
	font-family: 'Varela Round';
	text-align: center;
	font-size: 2em;
	color: white;
}

.wrap-sec-1 form {
	background: rgba(255, 255, 255, 1);
	margin-top: 3.5em;
	padding: 1.8em 3em;
	border-radius: .25rem;
	box-shadow: 0 0 4em #201742;
}

.wrap-sec-1 form input,
.wrap-sec-1 form button,
.wrap-sec-1 form select {
	font-family: 'Varela Round';
	height: 2.8em;
}

.wrap-sec-1 form label {
	font-size: .8em;
	font-family: 'Varela Round';
}

.service-icon {
	height: 80px;
	width: 80px;
	background: #2196F3;
	text-align: center;
	padding-top: 1.5em;
	margin-bottom: 1em;
}

#why-pesa {
	background: #DBEEFD;
}

#why-pesa h2 span,
#how-it-works h2 span {
	padding-bottom: 1em;
	border-bottom: 2px solid #F37E21;

}

#how-it-works {
	background: #FEFFFE;
	padding-bottom: 4rem;
}