#dashboard_view {
	margin-top: 1.5em;
	margin-bottom: 3em;
}

.account-bal {
	margin-top: 2em;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 2em;
	padding-bottom: 4em;
}

.account-bal span {
	border-bottom: 2px solid #2196F3;
	padding-bottom: 0.4em;
}

.amt {
	margin-top: 1em;
	font-size: 2em;
	margin-bottom: 0.5em;
	font-family: 'Varela Round';
}

.deposit-btn {
	background: #FF5722;
	color: white;
	border: 1px solid #FF5722;
	font-family: 'Varela Round';
}

.deposit-btn:hover {
	color: white;
}

.elements {
	background: #BBDEFB;
	margin-top: 1.5em;
	border-radius: 5px;
	text-align: center;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
}

.elements:hover {
	background: white;
	box-shadow: 0 0 1em #ddd;
}

.elements a {
	color: #0071bb;
}

.elements a:hover {
	text-decoration: none;
	color: #2196F3;
}

#new-logo {
	font-family: 'Varela Round';
}