#recipient_view {
	margin-top: 1.5em;
	margin-bottom: 3em;
}

#recipient_view h3 {
	margin-bottom: 1em;
	font-family: 'Varela Round';
}

#recipient_view table {
	font-size: 0.9em;
	background: white;
	box-shadow: 0 0 1em #ddd;
	border-radius: .25rem;
}

#recipient_view th {
	font-family: 'Varela Round';
}

#recipient_view form {
	background: white;
	padding-left: 6em;
	padding-right: 6em;
	padding-top: 3em;
	padding-bottom: 2em;
	box-shadow: 0 0 1em #ddd;
	border-radius: .25rem;
}

#recipient_view input,
#recipient_view select,
#recipient_view button {
	font-family: 'Varela Round';
	height: 2.8em;
}

#recipient_view textarea {
	font-family: 'Varela Round';
}

#recipient_view button {
	background: #FF5722;
	color: white;
}

#recipient_view label {
	font-size: 0.9em;
}

.details-card {
	background: white;
	box-shadow: 0 0 1em #ddd;
	border-radius: .25rem;
	padding: 2em;
}

.profile-img {
	background: #2196F3;
	font-family: 'Varela Round';
	font-size: 3em;
	color: white;
	text-align: center;
	height: 140px;
	width: 140px;
	padding-top: .7em;
	margin-left: .7em;
}

.edit-btn {
	color: white;
	background: #2196F3;
}

.delete-btn {
	color: white;
	background: #FF5722;
}

.ticket-msg {
	background: #DBEEFD;
	padding: 1em 2em;
	border-radius: 0px 30px 30px 30px;
	margin-bottom: 1em;
}

.ticket-msg h5 {
	font-family: 'Varela Round';
	text-transform: capitalize;
	padding-top: .7em;
}

.ticket-msg p {
	font-size: 0.9em;
}

#new-logo {
	font-family: 'Varela Round';
}