#register_view {
	margin-top: 4em;
}

#register_view_admin {
	margin-top: 2em;
}

#register_view form,
#register_view_admin form {
	margin-left: 4em;
	margin-right: 4em;
	padding-top: 2em;
}

#register_view input,
#register_view button,
#register_view select,
#register_view_admin input,
#register_view_admin button {
	font-family: 'Varela Round';
	height: 3em;
}

#register_view button,
#register_view_admin button {
	background: #FF5722;
	border: 1px solid #FF5722;
	color: white;
}

#new-logo {
	font-family: 'Varela Round';
}